# macOS
.DS_Store

# Node
node_modules/
.env
.env.local
.env.development
.env.production

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/